          <ul class="w3-ul w3-hoverable w3-white left-align w3-row">
                <li *ngFor="let caf of cafe" class="w3-padding-16">
                    <div class="w3-row">
                        <div class="w3-col s4">
                                <img src={{caf.profilePicture_URL}} class="w3-circle w3-left w3-margin-right" style="height:40px;width:40px" alt="Avatar">
                        </div>
                        <div class="w3-col s8">
                               <h5>{{caf.cafeName}}</h5> 
                        </div>
                    </div>
                </li>
                </ul>