<div class="feed">
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>

          
          <div *ngFor="let post of posts" class="w3-container w3-card w3-white w3-round w3-margin left-align"><br>
            <app-display-profile-picture userId={{post.userId}}></app-display-profile-picture>
            <button (click)="deletePost(post)" type="button" class="w3-button w3-red">DELETE POST</button>
            <span class="w3-right w3-opacity">{{post.timePosted}}       </span>
            <h4><app-display-user userId={{post.userId}}></app-display-user><app-display-cafe-name shopId={{post.shopId}}></app-display-cafe-name></h4>
            <hr class="w3-clear">
            <p>{{post.text}}</p>
            <img src={{post.imageUrl}} style="width:100%" class="w3-margin-bottom">
            <app-toggle-like postId={{post.id}} userId={{userId}}></app-toggle-like>
            <button type="button" (click)="showComments(post.id)" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
            <p id={{post.id}}> <app-commentbox token={{token}} postId={{post.id}}></app-commentbox></p>
          </div> 

    