<ul class="w3-ul w3-hoverable w3-white left-align w3-row">
<li *ngFor="let review of reviews" class="w3-padding-16 w3-right">
        <div class="w3-row">
                <div class="w3-col s3 vertical-center">
                        <app-display-profile-picture userId={{review.userId}}></app-display-profile-picture>
                    </div>
    <div class="w3-col s9">
        <p> {{review.rating}} <i class="fa fa-star"></i>   
            {{review.text}} <br>- <app-display-user userId={{review.userId}}></app-display-user></p>
        </div>
               
</div>
</li>
</ul>