<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="">
    
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

                
  <!-- Header -->


  <!-- Grid -->
  <div class="w3-row w3-padding">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <div (click)="onSelect(accoun)" *ngFor="let accoun of account" class="w3-container w3-card w3-round w3-white w3-margin-top w3-margin-bottom w3-padding left-align">
            <div class="w3-row">
                        <div class="w3-col m4 s6 w3-padding w3-margin-right">
                            <img src={{accoun.profilePicture_URL}} class="w3-circle" style="height:106px" alt="Avatar">
                        </div>
                        <div class="w3-col m5 s6 w3-margin-left">
                            <h2>{{accoun.firstName}} {{accoun.lastName}}</h2>
                         <p>{{accoun.bio}}<br>
                         {{accoun.city}}, {{accoun.state}}</p>
                        </div>
                        <div class="w3-col m2 s0 w3-margin-left ">
                            
                            </div>
                </div>
              </div>
              <br>
              
      
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">

      <!-- Posts -->
       

      <!-- Inspiration -->
      <div class="w3-card w3-round w3-white w3-padding-16 w3-padding w3-center w3-margin-left w3-margin-top">
          <h2>Find Coffee Lovers Near Your Area</h2>
          <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/07/9e/ea/55.jpg"  class="w3-circle w3-center w3-margin-bottom" style="height:150px;width:150px" alt="Want"> 
         <h4>New Feature Coming Soon!</h4>
          <p>At this phase, we can only show you all the coffee lovers in the world. Please check back with us in the future to search coffee lovers based on your region! </p>
         </div>
         <br>

    <!-- END About/Intro Menu -->
    </div>

  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

</body>
</html>
