<!DOCTYPE html>
<html>
<title>Found Grounds</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div *ngFor="let toke of token">
    <div *ngIf="!toke.token">
      <br>
      <br>
        <h2 class="w3-center">Please sign in first</h2>
      </div>
      <div *ngIf="toke.token">
<!-- Page Container -->
<div *ngFor="let use of user" class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <app-display-profilepage-profile username={{use.username}}></app-display-profilepage-profile>

      <!-- Accordion -->

     

     <div class="w3-card w3-round">
        <div class="w3-white">
          <button (click)="showBox('CheckIns')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> {{use.firstName}}'s Check-ins </button>
          <div id="CheckIns" class="hidden">
              <app-display-userscafes profileId={{use.userId}} firstname={{use.firstName}} userId={{userId}}></app-display-userscafes>
          </div>
          <button (click)="showBox('Photos')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> {{use.firstName}}'s Photos</button>
          <div id="Photos" class="hidden">
              <app-display-usersphotos profileId={{use.userId}} firstname={{use.firstName}} userId={{userId}}></app-display-usersphotos>
          </div>
        </div>
      </div>
      <br>

     
     
      
    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <app-display-profileposts profileId={{use.userId}} token={{toke.token}}></app-display-profileposts>

    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
   <div class="w3-col m2">
    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div> 
<br>
</div>
</div>
</body>
</html>

