<div class= "w3-margin-bottom body">
<div class="w3-white w3-margin">
        <div class="w3-container w3-padding found-grounds-brown">
          <h3>Reviews</h3>
        </div>
        <ul class="w3-ul w3-hoverable w3-white left-align w3-row">
            <li *ngFor="let review of reviews" class="w3-padding-16">
                <div class="w3-row">
                    <div class="w3-col s3 vertical-center">
                        <app-display-profile-picture userId={{review.userId}}></app-display-profile-picture>
                        <button class="button" *ngIf="review.userId == token" (click)="deleteReview(review)">Delete</button>
                    </div>
                    <div class="w3-col s9">
                        <p class="w3-center"> {{review.rating}} <i class="fa fa-star"></i>
                            {{review.text}} <br>- <app-display-user userId={{review.userId}}></app-display-user>
                            <br>
                            <app-moment timestamp={{review.timePosted}}></app-moment>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
      </div>
      <hr>

<div *ngFor="let use of user" class="w3-white w3-margin w3-margin-bottom">
    <div class="w3-container w3-padding found-grounds-brown">
        <h3>Leave Your Review</h3>
      </div>
    <div class="w3-col m12">
      <div class="w3-white">
        <div class="w3-container w3-padding"> 
            <!-- Form Begins Here -->
                <form id="uploadNewReview" name="uploadNewReview" #reviewData="ngForm" (ngSubmit)="uploadNewReview(reviewData.value)">
                    <!-- rating -->
                    <div class="rating">
                        <label>
                                <input type="radio" name="rating" id="rating" value="1" ngModel/>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="rating" id="rating" value="2" ngModel />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="rating" id="rating" value="3" ngModel/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>   
                              </label>
                              <label>
                                <input type="radio" name="rating" id="rating" value="4" ngModel/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="rating" id="rating" value="5" ngModel />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              </div>
         <!-- Text Goes Here -->
                    <input class="w3-border w3-padding coffeetext" type="text" name="text" id="text"  placeholder="{{use.firstName}}'s time here was.." required ngModel />
          <!-- Photo URL Goes Here -->
          <button type="submit" class="w3-button w3-theme coffeebutton"><i class="fa fa-coffee"></i>  Brew!</button>
        </form> 
        </div>
      </div>
    </div>
  </div>

</div>