<!DOCTYPE html>
<html lang="en">
<title>Found Grounds</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}



</style>
<body>


<app-navbar></app-navbar>

<div class="w3-content" style="max-width:100%;margin-top:46px">


  <div class="w3-display-container w3-center ">
    <img src="../../../../assets/images/aroma-background-black-1415555.png" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small ">
      <h3>Found Grounds</h3>
      <p><b>Find the best coffee in town</b></p>
    </div>
  </div>

  <!-- The app Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h1 class="w3-wide">THE APP</h1>
    <p class="w3-opacity"><i>We love good coffee</i></p>
    <h4 class="w3-justify">Found Grounds is an interactive experience for coffee lovers. Social media for everything coffee. Have
      ever been traveling or have been out in the town and just craved a good cup of coffee? So like anyone these day you pull out
      phone and search for the nearest coffee shop and a less than exciting gas station chain or fast food restaurants
      populate your feed. Found Grounds wants to change that. Coffee lovers can rate and submit their favorite coffee shops
      so other people can see what others have had and what they recommend from their favorite shops. This app is brewed to perfection!
    </h4>

  <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>DAILY BREW</p>
        <a href="dailybrew">
          <img src="https://images.pexels.com/photos/6347/coffee-cup-working-happy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="w3-round w3-margin-bottom" target="_self" alt="daily brew" style="width:60%">
        </a>
      </div>
      <div class="w3-third">
        <p>LOGIN</p>
        <a onclick="document.getElementById('id01').style.display='block'"> <img src="https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="w3-round w3-margin-bottom" alt="login" style="width:60%">
        </a>
      </div>

      <div class="w3-third">
        <p>PROFILE</p>
        <a href="users">
          <img src="../../../../assets/images/card3-beverage-coffee-desk-877695.jpg" class="w3-round" alt="Random Name" style="width:60%">
        </a>


      </div>
    </div>
  </div>




</div>

<img src="../../../../assets/images/aerial-architecture-buildings-1398003.jpg" class="w3-image w3-greyscale-min" style="width: 100%;height:1%;">


</body>
</html>

