<!DOCTYPE html>
<html lang="en">
<title>Found Grounds</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}

</style>
<body>


<app-navbar></app-navbar>

<div class="w3-content" style="max-width:2000px;margin-top:46px">


  <div class="w3-display-container w3-center ">
    <img src="../../../../assets/images/aroma-background-black-1415555.png" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small ">
      <h3>Found Grounds</h3>
      <p><b>Find the best coffee in town</b></p>
    </div>
  </div>

  <!-- The app Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE APP</h2>
    <p class="w3-opacity"><i>We love good coffee</i></p>
    <p class="w3-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Daliy Brew</p>
        <img src="../../../../assets/images/card1-caffeine-coffee-cup-6347.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Log In</p>
        <img src="../../../../assets/images/card2-art-blur-cappuccino-302899.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Profile</p>
        <img src="../../../../assets/images/card3-beverage-coffee-desk-877695.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>




</div>

<img src="../../../../assets/images/aerial-architecture-buildings-1398003.jpg" class="w3-image w3-greyscale-min" style="width:100%">

<!-- <app-footer></app-footer> -->
<script>
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>
</body>
</html>




