<nav class="navbar navbar-expand-lg navbar light " style="background-color: #613318">
  <!-- <img src="../../assets/images/Logo1 (3).png" width="30" height="30" class="d-inline-block align-top" alt=""> -->

  <a class="navbar-brand" href="#">Found Grounds</a>




  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarTogglerDemo2">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Daily Brew</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"href="#">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"href="#">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"href="#">Sign Up</a>
            </li>
    </ul>
    <!-- <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Daily Brew</a>
      <a class="nav-item nav-link" href="#">Log In</a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">Sign Up</a> -->

  </div>

</nav>
