<div class="signuppage">
    <div id="login-box">
        <form #UserData="ngForm" (ngSubmit)="createUser(UserData.value)">
        <div class="left">
          <h1 class="signup">Sign up</h1>
        
              <!-- method="POST" action="/users/signup"  -->
              <!-- I'm unsure to put ngModel or method if I'm working on it in the front end -->
          <input type="text" name="username" placeholder="Username" required ngModel/>
          <input type="text" name="firstName" placeholder="First Name" required ngModel/>
          <input type="text" name="lastName" placeholder="Last Name" required ngModel/>
          <input type="text" name="email" placeholder="E-mail" required ngModel />
          <input type="password" name="password" placeholder="Password" required ngModel />
          
     
        </div>
        
        <div class="right">
            <input type="text" name="city" placeholder="City" required ngModel/>
            <input type="text" name="state" placeholder="State" required ngModel/>
            <input type="text" name="birthday" placeholder="1996-02-07 Birthday" required ngModel/>
            <input type="text" name="bio" placeholder="About" required ngModel />
            <input type="password" name="imageUrl" placeholder="ImageUrl" required ngModel />
            <input type="submit" value="Sign me up" />
          </div>
        </form>
  </div>