
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>

      <!-- Profile -->
      <div *ngFor="let accoun of account" class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src={{accoun.profilePicture_URL}} class="w3-circle" style="height:106px" alt="Avatar"></p>
         <hr>
         <b>{{accoun.firstName}} {{accoun.lastName}}</b>
          <div class="left-align w3-margin-left">
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{accoun.bio}}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{accoun.city}}, {{accoun.state}} </p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{accoun.birthday}}</p>
          </div>
        </div>
      </div>
