.signuppage {
    background-color: #b99c6b;
    padding-top: 65px;
    padding-bottom: 20px;
}

.found-grounds-brown {
    background-color: #613318;
    color: white;
}

.hidden {
    display: none;
}

