<div class="w3-row-padding w3-margin-top" >
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding"> 
            <!-- Form Begins Here -->
                <form id="uploadNewPost" name="uploadNewPost" #postData="ngForm" (ngSubmit)="uploadPost(postData.value)">
         <!-- Text Goes Here -->
                    <input class="w3-border w3-padding coffeetext" type="text" name="text" id="text" placeholder="I've had five espressos today.." required ngModel />
          <!-- Photo URL Goes Here -->
          <input style="display:none" type="file" (change)="onFileSelected($event)" #fileInput />
          <button type="button" class="w3-button w3-theme w3-margin-right coffeebutton" (click)="fileInput.click()"><i class="fa fa-photo"></i>  Upload Photo</button> 
          <button type="submit" class="w3-button w3-theme coffeebutton"><i class="fa fa-coffee"></i>  Brew!</button>
        </form> 
        </div>
      </div>
    </div>
  </div>
