<div (click)="onSelect(use)" *ngFor="let use of user" class="w3-container w3-card w3-round w3-white w3-margin-top w3-margin-bottom w3-padding left-align">
        <div class="w3-row">
                    <div class="w3-col m4 s6 w3-padding w3-margin-right">
                        <img src={{use.imageUrl}} class="w3-circle" style="height:106px" alt="Avatar">
                    </div>
                    <div class="w3-col m5 s6 w3-margin-left">
                        <h2>{{use.firstName}} {{use.lastName}}</h2>
                     <p>{{use.bio}}<br>
                     {{use.city}}, {{use.state}}</p>
                    </div>
                    <div class="w3-col m2 s0 w3-margin-left ">
                        
                        </div>
            </div>
          </div>
          <br>