<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>

      <div (click)="onSelect(cafe)" *ngFor="let cafe of cafes" class="w3-container w3-card w3-round w3-white w3-margin-top w3-margin-bottom w3-padding left-align">
            <div class="w3-row">
                        <div class="w3-col m3 w3-padding">
                            <img src={{cafe.imageUrl}} class="w3-circle w3-left w3-margin-right" style="height:150px;width:150px" alt="Avatar"> 
                        </div>
                        <div class="w3-col m4 w3-margin-left">
                            <h2>{{cafe.cafeName}}</h2>
                         <p>{{cafe.cafeAddress}}<br>
                         {{cafe.cafeCity}}, {{cafe.cafeState}}</p>
                         <p class="w3-tag"><i class="fa fa-star"></i> {{cafe.rating}} stars</p>
                        </div>
                        <div class="w3-col m4 w3-margin-left ">
                            <h4>About Us</h4>
                             <p>{{cafe.bio}}<br>
                                <br>
                                <!-- icons to be replaced with links -->
                                <i class="fa fa-facebook-official w3-hover-opacity w3"></i>
                                <i class="fa fa-instagram w3-hover-opacity"></i>
                                <i class="fa fa-twitter w3-hover-opacity"></i>
                            </div>
                </div>
              </div>
              <br>
              
    