<div class="w3-white w3-margin">
        <div class="w3-container w3-padding found-grounds-brown">
          <h3>Menu</h3>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
                <li *ngFor="let menu of menus" class="w3-padding-16">
                  <div class="w3-row">
                    <div class="w3-col s3 vertical-center">
                      <img src={{menu.imageUrl}} alt="Image" class="w3-left w3-margin-right vertical-center" style="width:50px">
                        </div>
        <div class="w3-col s9">
          <span class="w3-large">{{menu.name}}</span>
          <br>
          <span>{{menu.text}}</span>
            </div>
                   
    </div>
                
                 
                </li>
              </ul>

      <hr>
<!-- something about the bottom is awesome -->
    