* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #613318;
    font-family: Trattatello, fantasy;
    font-size: 400%;
}

#header img {
    max-width: 300px;
    border: 1px solid black;
    box-shadow: 2px 5px 2px rgb(166, 166, 166);
}