<app-navbar></app-navbar>
<div class="jumbotron">
  <div style="text-align:center">
    <h1>
    Welcome to {{ title }}!!
    </h1>
  </div>
</div>
<div class= "container">
    <img width="1000" alt="welcome" src="../assets/images/aroma-background-black-1415555.png">
</div>
<br>
<div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
       <img src="../assets/images/card1-caffeine-coffee-cup-6347.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Daily Brew</h5>
      <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
  </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/card2-art-blur-cappuccino-302899.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Login</h5>
        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/card3-beverage-coffee-desk-877695.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>



<app-footer></app-footer>
<router-outlet></router-outlet>
