<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald"
  }

  body {
    font-family: "Open Sans"
  }
</style>

<body class="">

  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1600px">


    <!-- Header -->


    <!-- Grid -->
    <div class="w3-row w3-padding" *ngFor="let caf of cafe">

        <!-- Middle Section -->
      <div class="w3-col l8 s12">
        <app-display-cafeprofile shopId={{caf.shopId}}></app-display-cafeprofile>
        <app-display-cafeposts token={{token}} shopId={{caf.shopId}}></app-display-cafeposts>
      </div>

      <!-- Right Column -->
      <div class="w3-col l4">
        <!-- Reviews -->
        <app-reviewbox token={{token}} shopId={{caf.shopId}}></app-reviewbox>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <!-- Photos & Menu -->
        <app-photobox shopId={{caf.shopId}}></app-photobox>
        <hr>
        <app-display-menu shopId={{caf.shopId}}></app-display-menu>
      </div>

      <!-- END GRID -->
    </div>

    <!-- END w3-content -->
  </div>

</body>

</html>