<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

                
  <!-- Header -->


  <!-- Grid -->
  <div class="w3-row w3-padding">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <app-display-cafeprofile cafeId={{cafeId}}></app-display-cafeprofile>
      <!-- to be changed with cafeId -->
      <app-display-cafeposts userId={{userId}} cafeId={{cafeId}}></app-display-cafeposts>
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">

      <!-- Posts -->
        <app-reviewbox cafeId={{cafeId}}></app-reviewbox>

      <!-- Inspiration -->
      <app-photobox cafeId={{cafeId}}></app-photobox>
<hr>
   <app-display-menu cafeId={{cafeId}}></app-display-menu>
      <app-upload-review cafeId={{cafeId}} userId={{userId}}></app-upload-review>
    <!-- END About/Intro Menu -->
    </div>

  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

</body>
</html>
