<div>
    <div>
        <app-display-comments-profile-picture userId={{userId}}></app-display-comments-profile-picture>
    </div>
    <div>
        <form id="uploadNewComment" name="uploadNewComment" #commentData="ngForm" (ngSubmit)="uploadNewComment(commentData.value)">
            <input type="text" name="text" id="text" placeholder="What do I think about this?" required ngModel /> 
          <button type="submit" class="w3-button w3-theme w3-padding w3-right w3-margin-bottom "><i class="fa fa-coffee"></i>  Send!</button>
        </form>         
    </div>
</div>



       