*:focus {
  outline: none;
}

.signuppage {
  margin: 0;
  padding-top: 100px;
  background-color: #b99c6b;
  font-size: 16px;
  color: #222;
}


#login-box {
  position: relative;
  margin: 0 auto 18%;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 450px;
  background: url(../../../../assets/images/maybe.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 40;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 450px;
  background: white;
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.signup {
    color:white
}
.right .loginwith {
  display: block;
  margin-bottom: 18px;
  margin-top: 10px;
  font-size: 28px;
  color: black;
  text-align: center;
}

.right .loginwith1 {
    display: block;
    margin-bottom: 18px;
    font-size: 28px;
    color: black;
    text-align: center;
  }
  
button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.local {
    background: #613318;
  }

button.social-signin.google {
  background: #DD4B39;
}


/* form input {
    outline-width: 5;
    outline-color: #816C5B;
    border-style: line;
}

form textarea {
    outline-width: 0;
    border-style: none;
}

form div {
    margin-bottom: 5px;
    text-align: left;
    margin: 20px 20px;
}
h3 {
    text-align: center;
}

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 120;
}

.signupform {
    text-align: left;
} */